:host {
  display: block;
  margin-top: 1rem;
}
.info-text {
  text-align: center;
}
mat-spinner {
  margin: auto;
}
.image-content {
  box-shadow: 1px 1px 4px 1px #666;

  img {
    max-width: 50%;
  }
}
mat-paginator {
  margin-top: 1rem;
}
