<mat-spinner *ngIf="loading"></mat-spinner>
<mat-accordion multi="true" *ngIf="posts.length && !loading">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{ post.title }}
    </mat-expansion-panel-header>
    <div class="image-content">
      <img [alt]="post.title" [src]="post.imagePath" />
    </div>
    <p>{{ post.content }}</p>
    <mat-action-row *ngIf="isAuthenticated && userId === post.creator">
      <a mat-raised-button color="accent" [routerLink]="['/edit/',post.id]">Edit</a>
      <button mat-raised-button color="warn" (click)="onDelete(post.id)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator *ngIf="posts.length" [hidden]="loading" [length]="totalPosts" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="!posts.length && !loading">No posts added yet</p>
